
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="mid-marg">
        <div class='row'>
          <div class="col-md-4">
            <div class="marg">
              <h3><%= @discussion.title %></h3>
            </div>
            <small>Created <%= distance_of_time_in_words(@discussion.created_at, Time.now) %> ago</small>
          </div>
          <div class="col-md-8">
            <div class="card large-padd">
              <%= @discussion.body %>
            </div>
            <div class="marg text-right">
              <small><%= @discussion.user.first_name %></small>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="mid-marg col-8">
        <div class="marg" id="comments" data-discussion-id="<%= @discussion.id %>">
          <%= render @discussion.comments %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mid-marg padd">
        <%= render 'comments/comment_form' %>
      </div>
    </div>
  </div>
  

  <div class="large-marg">
    <%= link_to 'Edit', edit_discussion_path(@discussion), class: 'btn' %> |
    <%= link_to 'Back', discussions_path, class: 'btn' %>
  </div>
</div>
